.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
@media (max-width: 979px) {
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form button {
    border-radius: 100px;
    padding: 0.3rem 0.9rem !important;
    font-size: 13px;
  }
}
